@{
    ViewData["Title"] = "Home Page";
}
@inject YoloManager YoloManager

<div class="row top-space">
    <div class="col-lg-12">
        <h3>An yolo chat</h3>
        <ul id="messages">
            @foreach(var item in YoloManager.Messages)
            {
                <li>@item.UserId said : @item.Message</li>

            }
        </ul>
        <input class="form-control" id="message-content" />
    </div>
</div>

@section Scripts{
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}