@model SportsStore.WebUI.Models.LoginUserViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form action="@Url.Action("Index")" method="post">
            <label for="userName">Nom d'utilisateur : </label>
            <input type="text" placeholder="Insert user name" name="userName" /><br/>
            <label for="password">Mot de passe : </label>
            <input type="password" placeholder="Insert password" name="password" /><br />
            <a class="btn btn-primary" href="@Model.ReturnUrl">
                Continue
                shopping
            </a>
        </form>
    </div>
</body>
</html>
